NODE_ENV=development
PORT=3000
DATABASE_URL="mysql://root:Mysql_1234!@localhost:3306/bbq_miniapp"
JWT_SECRET="change-me"
TABLE_SIGN_SECRET="change-me"
UPLOAD_PUBLIC_URL="http://localhost:3000"
WX_APPID="wx2d3103ef8700256c"
WX_SECRET="8cbd4abe90018573c9012d1133d6ef84"
